.App {
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(206, 126, 249);
}

.App-link {
  color: #61dafb;
}
form {
  padding: 20px;
  font-size: 28px;
}
